article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// General Styles

body {
    font-family: sans-serif;
    background: darkcyan;
}

.wrapper {
    margin: 4% auto;
    max-width: 360px;
    background: white;
    box-shadow: 0 -3px 8px black;
    padding: 20px;
    position: relative;
}

p {
    font-size: 14px;
}

span {
    font-style: italic;
}

// ReceiptTop

.receiptTop {
    text-align: center;
    border-bottom: 1px dashed black;
}

h1 {
    text-transform: uppercase;
}

// receiptInputs
.submit-button {
    text-align: center;
}

.receiptInputs {
    text-align: center;
    padding: 20px 0;
}

// receiptInfo

.receiptInfo {
    border-bottom: 1px dashed black;
    border-top: 1px dashed black;
}

.location-title {
    text-align: center;
    text-transform: uppercase;
}

.amounts {
    float: left;
}

.numbers {
    float: right;
    font-size: 18px;
    font-style: bold;
}

.bill-info p {
    margin: 0;
}

.split-by {
    margin-bottom: 10px;
}

.bill-info-bottom {
    margin-bottom: 15px;
}

.bill-info-middle:first-child {
    margin-bottom: 10px;
}

input[type=text] {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    text-align: center;
}

.receiptInputs input[type=submit] {
    padding: 10px;
    text-transform: uppercase;
    margin-top: 10px;

}

.receiptInputs input[type=submit]:hover {
    color: white;
    background-color: darkcyan;
    border: none;
    padding: 12px 14px;
}

.reset-button {
    text-align: center;
    border: none;
    padding: 12px 14px;
    background: white;
    margin-top: 10px;
    color: red;

}

.reset-button:hover {
    color: white;
    background: red;
    border:none;
    padding: 12px 14px;
}

.tip {
    padding-left: 15px;
}

// oldReceipts

.oldReceipts {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        text-transform: capitalize;
        button {
            float: right;
            // padding: 8px 15px;
            margin: 0;
            height: 40px;
            &.review-button {
                padding: 0px 15px;
                margin-right: 3px;
            }
        }
    }
}

span.date {
    font-size: 12px;
    font-style: none;
}

span.restaurant-name {
    display: inline-block;
    padding: 12px 0 5px 0;
}

.oldReceipts input[type=textarea] {
    width: 100%;
    margin-top: 5px;
}

.oldReceipts input[type=submit] {
    float: right;
    border-radius: 0;
    border: none;
}

// Bottom Triangles For Receipt Style

.triangle {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-top: 8px solid white;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.triangle2 {
    left: 10px;
}
.triangle3 {
    left: 20px;
}
.triangle4 {
    left: 30px;
}
.triangle5 {
    left: 40px;
}
.triangle6 {
    left: 50px;
}

.triangle7 {
    left: 60px;
}

.triangle8 {
    left: 70px;
}
.triangle9 {
    left: 80px;
}
.triangle10 {
    left: 90px;
}
.triangle11 {
    left: 100px;
}
.triangle12 {
    left: 110px;
}
.triangle13 {
    left: 120px;
}
.triangle14 {
    left: 130px;
}
.triangle15 {
    left: 140px;
}
.triangle16 {
    left: 150px;
}
.triangle17 {
    left: 160px;
}
.triangle18 {
    left: 170px;
}
.triangle19 {
    left: 180px;
}

.triangle20 {
    left: 190px;
}
.triangle21 {
    left: 200px;
}
.triangle22 {
    left: 210px;
}
.triangle23 {
    left: 220px;
}
.triangle24 {
    left: 230px;
}
.triangle25 {
    left: 240px;
}
.triangle26 {
    left: 250px;
}
.triangle27 {
    left: 260px;
}
.triangle28 {
    left: 270px;
}
.triangle29 {
    left: 280px;
}
.triangle30 {
    left: 290px;
}

.triangle31 {
    left: 300px;
}
.triangle32 {
    left: 310px;
}
.triangle33 {
    left: 320px;
}
.triangle34 {
    left: 330px;
}
.triangle35 {
    left: 340px;
}
.triangle36 {
    left: 350px;
}





